<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/batch
                        http://www.springframework.org/schema/batch/spring-batch.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <batch:job id="employeeJob">
        <batch:step id="step1">
            <batch:tasklet>
                <batch:chunk reader="pagingItemReader"
                             writer="flatFileItemWriter"
                             commit-interval="1"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

    <bean id="pagingItemReader"
          class="org.springframework.batch.item.database.JdbcPagingItemReader"
          scope="step">
        <property name="dataSource" ref="dataSource"/>
        <property name="queryProvider">
            <bean class="org.springframework.batch.item.database.support.SqlPagingQueryProviderFactoryBean">
                <property name="dataSource" ref="dataSource"/>
                <property name="selectClause" value="${app.db.mysql.query}"/>
                <property name="fromClause" value="${app.db.mysql.query.table}"/>
                <property name="whereClause" value="${app.db.mysql.query.condition}"/>
                <property name="sortKey" value="EMPID"/>
            </bean>
        </property>
        <property name="parameterValues">
            <map>
                <entry key="MIDDLENAME" value="#{jobParameters['MIDDLENAME']}"/>
            </map>
        </property>
        <property name="pageSize" value="10"/>
        <property name="rowMapper">
            <bean class="com.adarsh.spring.batch.mapper.EmployeeRowMapper"/>
        </property>
    </bean>

    <!-- csv file writer -->
    <bean id="flatFileItemWriter" class="org.springframework.batch.item.file.FlatFileItemWriter">
        <property name="shouldDeleteIfExists" value="false" />
        <property name="resource" value="file:file/outputs/csv/employee.csv"/>
        <property name="appendAllowed" value="true"/>
        <property name="lineAggregator">
            <bean class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
                <property name="delimiter" value=","/>
                <property name="fieldExtractor">
                    <bean class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
                        <property name="names" value="${app.file.csv.header.name}"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

</beans>