<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/batch
                        http://www.springframework.org/schema/batch/spring-batch.xsd
                        http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <batch:job id="employeeJob">
        <batch:step id="step1">
            <batch:tasklet>
                <batch:chunk reader="storedProcedureItemReader"
                             writer="flatFileItemWriter"
                             commit-interval="1"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

    <bean id="storedProcedureItemReader" class="org.springframework.batch.item.database.StoredProcedureItemReader">
        <property name="procedureName" value="getAllEmployee"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="rowMapper">
            <bean class="com.adarsh.spring.batch.mapper.EmployeeRowMapper"/>
        </property>
    </bean>

    <!-- csv file writer -->
    <bean id="flatFileItemWriter" class="org.springframework.batch.item.file.FlatFileItemWriter">
        <property name="shouldDeleteIfExists" value="true" />
        <property name="appendAllowed" value="false"/>
        <property name="shouldDeleteIfEmpty" value="false" />
        <property name="resource" value="file:file/outputs/csv/employee.csv"/>
        <property name="lineAggregator">
            <bean class="org.springframework.batch.item.file.transform.DelimitedLineAggregator">
                <property name="delimiter" value=","/>
                <property name="fieldExtractor">
                    <bean class="org.springframework.batch.item.file.transform.BeanWrapperFieldExtractor">
                        <property name="names" value="${app.file.csv.header.name}"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>


</beans>